<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title style="color: #D60024">Tambah Beasiswa</ion-title>
  </ion-toolbar>
</ion-header>


<!-- Textarea in an item with a floating label -->
<ion-item>
  <ion-label position="floating">Nama Beasiswa</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>

<ion-content>
  <!-- Textarea in an item with a floating label -->
<ion-item>
    <ion-label position="floating">Deskripsi</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  
  <!-- Textarea in an item with a floating label -->
  <ion-item>
    <ion-label position="floating">Persyaratan</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  <h4>Upload Logo</h4>
  
  <ion-button class="button" width="20%">Pilih File</ion-button>
  <p style="color: #E6BA45">format file .jpg /.jpeg /.png</p>
  <ion-button expand="block" class="kirim">KIRIM</ion-button>
</ion-content>