<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title style="text-align: center" style="color: #D60024">Tambah Pengumuman</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
       <!-- Textarea in an item with a floating label -->
       <ion-item>
          <ion-label position="floating">Nama Beasiswa</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
 
  <h4>Unggah Berkas</h4> 
  <ion-button class="button" >Tambah Pengumuman</ion-button>
  <p style="color: #E6BA45">format file .pdf</p>
  </ion-content>
  <ion-button expand="block" class="kirim">SIMPAN</ion-button>
 