<ion-header>
  <ion-toolbar class="toolbar">
    <ion-grid>
      <ion-row>
        <ion-col size="1" class="kembali"><a href="../home"><ion-icon name="arrow-round-back"></ion-icon></a></ion-col>
        <ion-col size="11"><ion-title class="judul">DESKRIPSI</ion-title></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="konten">
  <ion-grid>
    <ion-row>
      <!-- judul dan logo instansi -->
      <ion-col size="12" class="logo">
        <img src="../assets/img/vdmi.png" alt="Logo Instansi">
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="8" class="namaBeasiswa">
        <h3>Beasiswa VDMI Tahun 2019-2020</h3>
      </ion-col>
      <ion-col size="2"></ion-col>

      <!-- deskripsi beasiswa -->
      <ion-col size="1"></ion-col>
      <ion-col size="10" class="deskripsiBeasiswa">
        <p style="color: #E6BA45">Deskripsi</p>
        <p>Yayasan Van Deventer - Maas Stichting (YVDMI) akan membuka kembali pendaftaran permohonan beasiswa tahun ajaran 2019-2020 yang dimulai pada tanggal 10 Februari 2019 s.d. 10 Maret 2019. Untuk mahasiswa program sarjana dan sekolah vokasi.</p>
        <p style="color: #E6BA45">Persyaratan</p>
        <ul>
          <li>Mahasiswa sekolah vokasi minimal semester 3</li>
          <li>Mahasiswa program sarjana reguler minimal semester 3</li>
          <li>IPK terakhir minimal 3</li>
        </ul>
        <ion-button expand="block" style="--background: #D60024;">Hapus Beasiswa</ion-button>
        <ion-button expand="block" class="button">Lihat Pendaftar</ion-button>
      <ion-col size="1"></ion-col> 
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

