<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="color:#D60024" style="text-align: center">JOIN </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>  
      <h3 style="color: #E6BA45">Unggah Berkas</h3>
      <ion-card>
          <ion-card-content>
            <div class="box">
                <ion-img src="../assets/img/folder.png"></ion-img>
              <div class="paragraf">
                  <p>Lampirkan file(Nama_NIM)</p>
                  <p>(ekstensi file .rar atau .zip)</p>
              </div> 
            </div>
          </ion-card-content>
      </ion-card>
      <ion-button class="button-outline">Format file tidak sesuai</ion-button>
      <ion-button expand="block" class="kirim">KIRIM</ion-button>
  </ion-content>
  