
.box{
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.button {
    --background: #000B29;
}
ion-img{
    position: absolute;
    top: 15px;
    left: 93px;
    // right: 5px;
    width: 45%;
    height: 45%

}

.paragraf{
    top: 90px;
    left: 110px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 2px;
    text-align: center;
}